.pets {
    padding-bottom: 80px;
    @media screen and (max-width: 1200px) {
   display: none;
  }
}

.pets-title {
    font-family: Montserrat;
font-weight: 500;
font-style: Medium;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
margin-bottom: 40px;
}

.pets-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
}

.pets-iteam {
  width: 270px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.pets-img {
    width: 270px;
    height: 208px;
}

.pets-text {
    font-family: Montserrat;
font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
}

.pets-button {
    width: 138px;
height: 40px;
border-radius: 10px;
padding-top: 10px;
padding-right: 30px;
padding-bottom: 10px;
padding-left: 30px;
font-family: Montserrat;
font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
border: none;
background-color: #FFB36C;
}

