.hero {
  background-image: url(/public/images/evening.png);
  height: 595px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 80px;
}

.hero-list {
  display: flex;
  gap: 52px;
}

.hero-text {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: #ffffff;
  max-width: 345px;
}

.hero-minitext {
  max-width: 164px;
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: #ffffff;
}

.hero-input {
    width: 625px;
height: 42px;
border-radius: 10px;
border: none;
margin-top: 137px;
padding-left: 29px;
}