.hero {
  background-image: url(/public/images/evening.png);
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;
    padding-bottom: 40px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-title {
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 80px;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 40px;
  }
}

.hero-list {
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    gap: 68px;
    flex-direction: row;
  }
  @media screen and (min-width: 1200px) {
    gap: 104px;
  }
}

.hero-text {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: #ffffff;
  max-width: 345px;
}

.hero-minitext {
  max-width: 164px;
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: #ffffff;
}

/* .hero-search-container {
  display: flex;
}

.minik {
  background-color: #FFB36C;
  width: 45px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  } */

.hero-input {
    width: 580px;
height: 42px;
border-radius: 10px;
border: none;
margin-top: 137px;
padding-left: 29px;
background-color: #D9D9D9;
}

