.hero {
  background-image: url(/public/images/evening.png);
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;
    padding-bottom: 40px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-title {
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 35px;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 40px;
    margin-bottom: 80px;
  }
}

.hero-list {
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  justify-content: center;
  @media screen and (min-width: 768px) {
    gap: 68px;
    flex-direction: row;
  }
  @media screen and (min-width: 1200px) {
    gap: 104px;
  }
}

.hero-text {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: #ffffff;
  max-width: 140px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    max-width: 180px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 24px;
    max-width: 345px;
  }
}

.hero-minitext {
  max-width: 75px;
   font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: #ffffff;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    max-width: 100px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 24px;
  max-width: 164px;
}
}

/* .hero-search-container {
  display: flex;
}

.minik {
  background-color: #FFB36C;
  width: 45px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  } */

.hero-input {
  font-family: Montserrat;
font-weight: 500;
font-style: Medium;
font-size: 6px;
line-height: 100%;
letter-spacing: 0%;
    width: 173px;
height: 15px;
border-radius: 10px;
border: none;
margin-top: 48px;
padding-left: 29px;
background-color: #D9D9D9;
 @media screen and (min-width: 768px) {
    width: 402px;
    height: 27px;
    font-size: 10px;
    margin-top: 106px;
  }
  @media screen and (min-width: 1200px) {
    width: 625px;
    height: 42px;
    font-size: 14px;
    margin-top: 137px;
  }
}

