.wrapper {
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    padding-bottom: 50px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 80px;
  }
}

.wrapper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-list {
  padding-top: 35px;
  padding-left: 43px;
  padding-right: 43px;
  padding-bottom: 35px;
  border-radius: 15px;
  background-color: #e8e8e8;
  display: flex;
  gap: 58px;
  flex-wrap: wrap;
  width: 293px;
  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    width: 700px;
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
    padding-top: 40px;
    padding-left: 77px;
    padding-right: 77px;
    padding-bottom: 40px;
    border-radius: 20px;
  }
}

.wrapper-iteam {
  background-color: #d9d9d9;
  width: 290px;
  height: 217px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.wrapper-img {
  width: 85px;
  height: 85px;
  margin-top: 23px;
}

.wrapper-title {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.wrapper-text {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 10px;
}

.cont {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.wrapper-cont2 {
  display: flex;
  flex-direction: column;
}
