.wrapper {
    padding-bottom: 80px;
}

.wrapper-container {
  background-color: #e8e8e8;
  padding-top: 40px;
  padding-left: 77px;
  padding-right: 77px;
  padding-bottom: 40px;
  border-radius: 20px;
}

.wrapper-list {
  display: flex;
  gap: 58px;
  flex-wrap: wrap;
}

.wrapper-iteam {
  background-color: #d9d9d9;
  width: 290px;
  height: 217px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.wrapper-img {
  width: 85px;
  height: 85px;
  margin-top: 23px;
}

.wrapper-title {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.wrapper-text {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 10px;
}

.cont {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.wrapper-cont2 {
    display: flex;
    flex-direction: column;
}
