.forecast {
    padding-bottom: 80px;
}

.forecast-container {
    background-color: #E8E8E8;
    height: 554px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
}

.forecast-title {
    margin-bottom: 20px;
    font-family: Montserrat;
font-weight: 600;
font-style: SemiBold;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
padding-left: 77px;
}