.forecast {
    padding-bottom: 35px;
     @media screen and (min-width: 768px) {
     padding-bottom: 50px;
  }
  @media screen and (min-width: 1200px) {
     padding-bottom: 80px;
  }
}

.forecast-container {
    background-color: #E8E8E8;
    height: 554px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
}

.forecast-title {
    text-align: center;
    margin-bottom: 20px;
    font-family: Montserrat;
font-weight: 600;
font-style: SemiBold;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;

@media screen and (min-width: 768px) {
      text-align: center;
      padding-left: 77px;
      text-align: start;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 77px;
    text-align: start;
  }
}