.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  position: relative;
  width: 600px;
  height: 540px;
  background: white;
  padding-top: 25px;
  border-radius: 25px;
  width: 293px;
  height: 454px;
  @media screen and (min-width: 768px) {
    width: 400px;
    padding-top: 30px;
    height: 440px;
  }
  @media screen and (min-width: 1200px) {
    width: 600px;
    height: 540px;
    padding-top: 30px;
    border-radius: 10px;
  }
}

.modal-containerbig {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-maintitle {
  font-family: Montserrat Alternates;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
      margin-bottom: 17px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 28px;
     margin-bottom: 40px;
  }
}

.modal-list {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
     margin-bottom: 25px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 35px;
    row-gap: 30px;
  }
}

.modal-title {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  @media screen and (min-width: 1200px) {
 font-size: 14px;
  }
}

.modal-input {
  width: 243px;
  height: 40px;
  border-radius: 10px;
  background-color: #e4e4e4;
  border: none;
  padding-left: 20px;
  margin-top: 15px;
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ababab;
  @media screen and (min-width: 768px) {
     width: 310px;
  }
  @media screen and (min-width: 1200px) {
    width: 440px;
  height: 50px;
  font-size: 14px;
  }
}

.modal-svgcont {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-exit {
  width: 20px;
  height: 20px;
}

.modal-button {
  width: 114px;
  height: 37px;
  border-radius: 10px;
  background-color: #ffb36c;
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  border: none;
  margin-bottom: 15px;
}

.modal-acount-text {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
}

.modal-link-login {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
  text-decoration: underline;
}
