

.header-container {
  display: flex;
}

.header-list {
  display: flex;
  gap: 10px;
  margin-left: 50px;
  align-items: center;
  margin-right: 25px;
   @media screen and (min-width: 768px) {
    margin-left: 153px;
    margin-right: 130px;
    gap: 45px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 111px;
    margin-right: 519px;
    gap: 45px;
  }
}

.header-us {
  @media screen and (max-width: 768px) {
    opacity: 0;
  }
}

.header-share {
  font-family: Montserrat Alternates;
font-weight: 500;
font-style: Medium;
font-size: 10px;
line-height: 100%;
letter-spacing: 0%;
text-decoration: none;
  @media screen and (min-width: 1200px) {
    font-size: 12px;
    text-decoration: none;
    color: #000000;
}
}

.header-singup {
  font-family: Montserrat Alternates;
font-weight: 400;
font-style: Regular;
font-size: 10px;
  background-color: #ffb36c;
  display: flex;
  align-items: center;
  width: 73px;
  height: 35px;
  border-radius: 10px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  font-family: Montserrat Alternates;
  font-style: Medium;
  line-height: 100%;
  letter-spacing: 0%;
  border: none;
    @media screen and (min-width: 768px) {
      font-weight: 500;
      margin-right: 25px;
  }
  @media screen and (min-width: 1200px) {
    width: 89px;
     padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
    font-size: 12px;
      font-weight: 500;
        margin-right: 27px;
  }
}

.header-mincont {
    display: flex;
    align-items: center;
}
