

.header-container {
  display: flex;
  @media screen and (max-width: 768px) {
    justify-content: center;
  }
}

.header-list {
  display: flex;
  align-items: center;
  display: none;
   @media screen and (min-width: 768px) {
    margin-left: 153px;
    margin-right: 130px;
    gap: 30px;
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: 111px;
    margin-right: 519px;
    gap: 45px;
  }
}

.header-us {
  @media screen and (max-width: 768px) {
    opacity: 0;
  }
}

.header-share {
  font-family: Montserrat Alternates;
font-weight: 500;
font-style: Medium;
font-size: 10px;
line-height: 100%;
letter-spacing: 0%;
text-decoration: none;
 color: #000000;
  @media screen and (min-width: 1200px) {
    font-size: 12px;
    text-decoration: none;
}
}

.header-singup {
  font-family: Montserrat Alternates;
font-weight: 400;
font-style: Regular;
font-size: 10px;
  background-color: #ffb36c;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 73px;
  height: 35px;
  border-radius: 10px;
  font-family: Montserrat Alternates;
  font-style: Medium;
  line-height: 100%;
  letter-spacing: 0%;
  border: none;
  margin-left: 70px;
    @media screen and (min-width: 768px) {
      font-weight: 500;
      margin-right: 25px;
      margin-left: 0px;
  }
  @media screen and (min-width: 1200px) {
    width: 89px;
    font-size: 12px;
      font-weight: 500;
        margin-right: 27px;
        margin-left: 0px;
  }
}

.header-mincont {
    display: flex;
    align-items: center;
}
