header {
  padding-top: 32px;
  padding-bottom: 33px;
}

.header-container {
  display: flex;
}

.header-list {
  display: flex;
  gap: 45px;
  margin-left: 111px;
  align-items: center;
  margin-right: 519px;
}

.header-share {
  font-family: Montserrat Alternates;
font-weight: 500;
font-style: Medium;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
color: #000000;
text-decoration: none;
}

.header-singup {
  background-color: #ffb36c;
  display: flex;
  align-items: center;
  margin-right: 27px;
  width: 89px;
  height: 35px;
  border-radius: 10px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-family: Montserrat Alternates;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  border: none;
}

.header-mincont {
    display: flex;
    align-items: center;
}
