.footer {
    background-color: #FFB36C;
}

.footer-bigconteiner {
    padding-bottom: 30px;
    padding-left: 50px;
    padding-top: 30px;
    display: flex;
      @media screen and (min-width: 768px) {
     padding-left: 100px;
     padding-bottom: 35px;
     padding-top: 35px;
  }
  @media screen and (min-width: 1200px) {
     padding-bottom: 64px;
    padding-left: 150px;
    padding-top: 40px;
  }
}

.footer-img {
    margin-right: 103px;
    @media screen and (max-width: 768px) {
     margin-right: 24px;
  }
}

.footer-list {
    display: flex;
    gap: 103px;
    @media screen and (max-width: 768px) {
     flex-direction: column;
     row-gap: 25px;
  }
}

.footer-location-title {
    font-family: Montserrat Alternates;
font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
}

.footer-contmin {
    max-width: 95px;
    margin-top: 10px;
}

.footer-text {
    font-family: Montserrat Alternates;
font-weight: 500;
font-style: Medium;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
}

.footer-title {
    font-family: Montserrat Alternates;
font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
}

.footer-minilist {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}